:root{
    --field-size: 1200px;
    --field-padding: 10px;
    --center-point: calc(var(--field-size)/2);
    --center-width: 0.5vw;
    --card-width: calc(var(--field-size)/10);
    --half-card-width:calc(var(--card-width)/2);
    --card-height: calc(var(--card-width)*1.3);
    --half-card-height: calc(var(--card-height)/2);
    --delta-card-width-height: calc(var(--half-card-height) - var(--half-card-width));
    --card-margin: 10px;
    --card-offset: 25px;
}

.background {
    background-color: #1a1a1a;
}

.test{
    width: 50vw;
    height: 50vh;
    background-color: red;
}

.playfield{
    width: var(--field-size);
    height: var(--field-size);
    background-color: green;
    transform: translate(calc(50vw - var(--center-point)), calc(50vh - var(--center-point)));
}

.flex{
    display: flex;
}

.start-pos{
    position: absolute;
    top: 0px;
    left: 0px;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    background-color: white;
    /* based upon parent element */
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.test-card{
    width: var(--card-width);
    height: var(--card-height);
    background-color: white;

    /* position:absolute;
    top: 0px;
    left: 0px; */
}

.stack{
    transform: translate(var(--card-offset), 2px)
}

.centre{
    transform: translate(calc(var(--center-point) - var(--half-card-width)), calc(var(--center-point) - var(--half-card-height)));
}

.north {
    /* transform: translate(calc(var(--center-point) - var(--half-card-width)), 0px); */
    transform: translate(calc(var(--center-point) - calc(var(--half-card-width) * 3)), 0px)
}

.north-a {
    transform: translate(calc(var(--center-point) - calc((var(--half-card-width) - var(--card-offset)) * 3)), 0px);
}

.south {
    transform: translate(calc(var(--center-point) - var(--half-card-width)), calc(var(--field-size) - var(--card-height)));
}

.west{
    transform: translate(var(--delta-card-width-height), calc(var(--center-point) - var(--half-card-height))) rotate(90deg);
}

.east{
    transform: translate(calc(var(--field-size) - var(--card-width) - var(--delta-card-width-height)), calc(var(--center-point) - var(--half-card-height))) rotate(-90deg);
}