:root{
    --field-size: 1000px;
    --center-point: calc(var(--field-size)/2);
    --card-width: calc(var(--field-size)/10);
    --half-card-width:calc(var(--card-width)/2);
    --card-height: calc(var(--card-width)*1.3);
    --half-card-height: calc(var(--card-height)/2);
    --card-offset: 25px;
    --card-margin: 5px;
    --south-top: calc(var(--field-size - var(--card-height)));
    --west-top: calc(0px + var(--card-height));
    --north-top: calc(0px + var(--card-height));
    --eastTop: calc(var(--field-size - var(--card-height)));
    --deck-originX: calc(var(--center-point) - var(--half-card-width));
    --deck-originY: calc(var(--center-point) - var(--half-card-height));
    --cards-inhand: 3;
    --max-cards-in-hand: 4;
    --cards-in-hand-centre: 3;
    --cards-in-hand-north: 3;
    --cards-in-hand-east: 3;
    --cards-in-hand-south: 3;
    --cards-in-hand-west: 3;

}

.background {
    background-color: #1a1a1a;
}
/* .test{
    width: 600px;
    height: 600px;
    background-color: red;
} */

.rotate{
    transform: rotate(0deg);
}

.playfield{
    width: var(--field-size);
    height: var(--field-size);
    background-color: green;
    transform: translate(calc(50vw - var(--center-point)), calc(50vh - var(--center-point)));
}

.start-pos{
    position: absolute;
    top: 0px;
    left: 0px;
}

.card-holder{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
}


.card{
    width: var(--card-width);
    height: var(--card-height);
    background-color: white;
    border: 1px solid black;
}

/* .move{
    transform: translate(0px, 600px);
    transition: transform 0.6s ease-in-out;
} */

.card:hover{
    background-color: blueviolet;
    transform: translate(2px, -25px);
    /* transition: transform 0.1s ease-in-out; */
}

/* .deck{
    transform: translate(calc(var(--center-point) - var(--half-card-width)), calc(var(--center-point) - var(--half-card-height)))
} */

.deck-0{
    position: absolute;
    top: calc(var(--deck-originY) + 2px);
    left: calc(var(--deck-originX) + 2px);
    /* transition: transform 0.6s ease-in-out; */
}

.deck-1{
    position: absolute;
    top: calc(var(--deck-originY) - 2px);
    left: calc(var(--deck-originX) - 2px);
    /* transition: transform 0.6s ease-in-out; */
}

.deck-2{
    position: absolute;
    top: calc(var(--deck-originY) + 1px);
    left: calc(var(--deck-originX) - 2px);
    /* transition: transform 0.6s ease-in-out; */
}

.deck-3{
    position: absolute;
    top: var(--deck-originY);
    left: var(--deck-originX);
    transition: transform 0.6s ease-in-out;
}

.deck-4{
    position: absolute;
    top: calc(var(--deck-originY) + 1px);
    left: calc(var(--deck-originX) + 1px);
    transition: transform 0.6s ease-in-out;
}


.offset-0{
    transform: translate(calc(var(--card-offset) * 0), 0px);
}

.offset-1{
    transform: translate(calc(var(--card-offset) * 1), 0px);
}

.offset-2{
    transform: translate(calc(var(--card-offset) * 2), 0px);
}

.offset-3{
    transform: translate(calc(var(--card-offset) * 3), 0px);
}

.offset-4{
    transform: translate(calc(var(--card-offset) * 4), 0px);
}

.offset-5{
    transform: translate(calc(var(--card-offset) * 5), 0px);
}

.offset-6{
    transform: translate(calc(var(--card-offset) * 6), 0px);
}

.centre-0{
    transform: translate(calc((var(--card-width) + var(--card-margin)) * 0 ), 0px);
}

.centre-1{
    transform: translate(calc((var(--card-width) + var(--card-margin)) * 1 ), 0px);
}

.centre-2{
    transform: translate(calc((var(--card-width) + var(--card-margin)) * 2 ), 0px);
}

.centre-3{
    transform: translate(calc((var(--card-width) + var(--card-margin)) * 3 ), 0px);
}


.centre{
    /* transform: translate(calc(var(--center-point) - var(--half-card-width)), calc(var(--center-point) - var(--half-card-height))); */
    transform: translate(calc(var(--center-point) - calc(((var(--card-width) + var(--card-margin)) * var(--cards-in-hand-centre) - var(--card-margin)) / 2)), calc(var(--center-point) - var(--half-card-height))) rotate(0deg);
    /* transition: transform 0.6s ease-in-out; */
}


.south{
    /* cards in hand - 1*/
    transform: translate(calc(var(--center-point) - calc((var(--card-width) + var(--card-offset) * (var(--cards-in-hand-south) - 1)) / 2)), calc(var(--field-size) - var(--card-height))) rotate(0deg);
    /* transform: translate(calc(var(--center-point) - calc((var(--card-width) + var(--card-offset) * (var(--cards-in-hand-south) - 1)) / 2)), calc(var(--field-size) - var(--card-height))); */
}

.north{
    /* cards in hand - 1*/
    transform: translate(calc(var(--center-point) + calc((var(--card-width) + var(--card-offset) * (var(--cards-in-hand-north) - 1)) / 2)), var(--card-height)) rotate(180deg);
    /* transform: translate(calc(var(--center-point) + calc((var(--card-width) + var(--card-offset) * (var(--cards-in-hand-north) - 1)) / 2)), var(--card-height)); */
}

.west{
    /* cards in hand - 1*/
    transform: translate(var(--card-height), calc(var(--center-point) - calc((var(--card-width) + var(--card-offset) * (var(--cards-in-hand-west) - 1)) / 2))) rotate(90deg);
    /* transform: translate(var(--card-height), calc(var(--center-point) - calc((var(--card-width) + var(--card-offset) * (var(--cards-in-hand-west) - 1)) / 2))); */
}

.east{
    /* cards in hand - 1*/
    transform: translate(calc(var(--field-size) - var(--card-height)), calc(var(--center-point) + calc((var(--card-width) + var(--card-offset) * (var(--cards-in-hand-east) - 1)) / 2))) rotate(270deg);
    /* transform: translate(calc(var(--field-size) - var(--card-height)), calc(var(--center-point) + calc((var(--card-width) + var(--card-offset) * (var(--cards-in-hand-east) - 1)) / 2))); */
}
